@using MLaw.Idp.Mvc.Models
@model MLaw.Idp.Mvc.Models.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>So embarrassing..</h3>
<p>
    Please report the error to <a href="mailto:lawprogrammers@umich.edu">lawprogrammers@umich.edu</a>
</p>
